body {
    text-align: center;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
    color: rgb(60, 162, 209);
}